body {
background-color: #F8F8E5;
}

@media only screen and (min-width:768px) {
.whoweare>div {
   height: 18em;
}
.whoweare>div>div {
   overflow: hidden;
   height: 15em;
}
}

.whoweare>div {
   margin-bottom: 3em;
}

.what {
   padding: 1em;
}

.whoweare>div>div {
   padding: 1em;
   outline: 0px solid #F8F8E5;
   background-color: #F8F8E5;
   border-bottom: solid 4px #dee0c8;
}

.whoweare>div:hover>div,.whoweare>div.hover>div {
   position: relative;
   background-color: #fff;
   height: auto;
   overflow: visible;
   z-index: 1;
   outline: 4px solid #dee0c8;
   transition: outline 0.4s, background-color 1s;
   display: block;
   border-bottom: 0px;
}

a { color: #c11 }

.whoweare>div a { color: #222; text-decoration: none; }
.whoweare>div:hover a { color: #c11; text-decoration: underline; }


#footer {
	margin-top: 5em;
	height: 50em;
	background: url(alternative_energies_footer.jpg);
	background-size: cover;
}


.whoweare>div ximg {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: url('grayscale.svg#greyscale');
  filter: gray; /* IE 6-9 */
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: Candara,Calibri,Segoe,"Segoe UI",Optima,Arial,sans-serif;
}

.chapo {
    font-weight: 900;
    font-size: 1.5em;
    line-height: 1.4;
}

.more {
 text-align: right;
}

.info-publi {
display: none;
}